<template name="clients"> 

<head>
		<title>Imagine Conseil</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

</head>
			
<body>
                <div id="header">
				  <p><img src="http://imagine-conseil.fr/images/gi-junior.png" class="imageflottante2" alt="Image flottante2" /></p>
         	      <p><img src="http://imagine-conseil.fr/images/logo.jpg" class="imageflottante1" alt="Image flottante1" /></p>

					<!-- Logo -->
						<h1><a href="/" id="logo"><em>Imagine Conseil</em></a></h1>
						

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="{{pathFor route='accueil'}}">Accueil</a></li>
								<li><a href="{{pathFor route='pointsForts'}}">Points forts</a></li>
								<li><a href="{{pathFor route='competences'}}">Domaines de compétences</a></li>
								<li><a href="{{pathFor route='mission'}}">Déroulement d'une mission</a></li>
								<li><a href="{{pathFor route='plaquette'}}">Plaquette</a></li>
                                <li class="current"><a href="{{pathFor route='clients'}}">Clients</a></li>
                                <li><a href="{{pathFor route='membres'}}">Membres</a></li>
							</ul>
						</nav>
                    
				</div>





			
    
    
    
				<div id="footer">
                    

					<!-- Icons -->
						<ul class="icons">
							<li><a href="https://twitter.com/imagineconseil" target="_blank"> <img src="twitter.png" /> </a></li>
							<li><a href="https://www.facebook.com/ImagineConseil.GrenobleINP" target="_blank"> <img src="facebook.png" /> </a></li>
							<li><a href="https://www.linkedin.com/company/imagine-conseil" target="_blank"> <img src="linkedin.png" /> </a></li>
                            <li><a href="mailto:contact@imagine-conseil.fr" target="_blank"> <img src="email.png" /> </a></li>
						</ul>

					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; 2017 Imagine Conseil. Tous droits réservés.</li><li>Design : <a href="http://html5up.net" target="_blank">HTML5 UP</a></li><li>Icônes : <a href="http://www.graphicsfuel.com/" target="_blank">GraphicsFuel</a></li>
							</ul>
						</div>

				</div>
	
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

</body>

</template>