<template name="pointsForts"> 

<head>
		<title>Imagine Conseil</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

</head>
			
<body>
                <div id="header">
				  <p><img src="http://imagine-conseil.fr/images/gi-junior.png" class="imageflottante2" alt="Image flottante2" /></p>
         	      <p><img src="http://imagine-conseil.fr/images/logo.jpg" class="imageflottante1" alt="Image flottante1" /></p>

					<!-- Logo -->
						<h1><a href="/" id="logo"><em>Imagine Conseil</em></a></h1>
						

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="{{pathFor route='accueil'}}">Accueil</a></li>
								<li class="current"><a href="{{pathFor route='pointsForts'}}">Points forts</a></li>
								<li><a href="{{pathFor route='competences'}}">Domaines de compétences</a></li>
								<li><a href="{{pathFor route='mission'}}">Déroulement d'une mission</a></li>
								<li><a href="{{pathFor route='plaquette'}}">Plaquette</a></li>
                                <li><a href="{{pathFor route='clients'}}">Clients</a></li>
                                <li><a href="{{pathFor route='membres'}}">Membres</a></li>
							</ul>
						</nav>

				</div>

				<section class="wrapper style1">
				<div class="container">
				<header  class="major">
					<h2> Pourquoi nous choisir ?</h2>
					
				</header>
				</div>
				


				<!-- Main -->
				
					<div class="container">
						<div class="row 200%">
							<div class="4u 12u(narrower)">
								<div id="sidebar">

									<!-- Sidebar -->

										<section>
											<h3 align="center">Le mot du directeur</h3>
											<p align="center" ><img   src="http://www.grenoble.inra.fr/Docs/personnel/Bernard.jpg" alt="" /></p>
											<i align="center" style="font-size:90% ">"Grenoble INP - Génie industriel est une Grande
														école formant des ingénieurs en efficacité industrielle.
														Ils se forment pour être compétents en conception de
														produit, en optimisation de la chaine logistique, en industrialisation.
														Ils peuvent intervenir dans tous les secteurs d’activités.
														L’entreprise, le management, l’initiative et l’innovation se trouvent,
														avec les techniques de l’ingénieur, au cœur des compétences
														acquises. Pour moi, un élève qui met en œuvre ses compé-
														tences dans la Junior Entreprise contribue à se former tout en
														créant, dès l’école, de la valeur pour les entreprises faisant
														appel à la Junior". </i><br />
                                                <br />
												<p align="center" > Bernard Ruffieux, Professeur, Directeur de Grenoble INP – Génie industriel </p>
											
										</section>

										

								</div>
							</div>
							<div class="8u  12u(narrower) important(narrower)">
								<div id="content">

									<!-- Content -->

										<article>
											


											<h3 align="center">Performance</h3>
						
											<p align="center">Nos membres sont spécifiquement formés dans le but de répondre aux problématiques industrielles actuelles. Par ailleurs, nous faire confiance vous garantit un regard transversal et nouveau sur vos projets.</p>


											<h3 align="center">Formation</h3>
						
											<p align="center">Nos membres sont élèves au sein du prestigieux réseau Grenoble INP, assurant une formation de pointe pour les ingénieurs de demain.</p>

											<h3 align="center">Flexibilité</h3>
						
											<p align="center">Notre large éventail de compétences nous permet de répondre à vos demandes dans les domaines variés du génie industriel.</p>

											<h3 align="center">Ressources</h3>


											<p align="center">Nous disposons des moyens de la plateforme technologique AIP-PRIMECA, dont leFabLab GI-NOVA, ainsi que des laboratoires G-SCOP et GAEL. Ceux-ci sont notamment reconnus pour leur intégration des technologies de pointe.</p>

											
										</article>

								</div>
							</div>
						</div>
					</div>
				</section>


			
    
    
    
				<div id="footer">
                    

					<!-- Icons -->
						<ul class="icons">
							<li><a href="https://twitter.com/imagineconseil" target="_blank"> <img src="twitter.png" /> </a></li>
							<li><a href="https://www.facebook.com/ImagineConseil.GrenobleINP" target="_blank"> <img src="facebook.png" /> </a></li>
							<li><a href="https://www.linkedin.com/company/imagine-conseil" target="_blank"> <img src="linkedin.png" /> </a></li>
                            <li><a href="mailto:contact@imagine-conseil.fr" target="_blank"> <img src="email.png" /> </a></li>
						</ul>

					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; 2017 Imagine Conseil. Tous droits réservés.</li><li>Design : <a href="http://html5up.net" target="_blank">HTML5 UP</a></li><li>Icônes : <a href="http://www.graphicsfuel.com/" target="_blank">GraphicsFuel</a></li>
							</ul>
						</div>

				</div>
	
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

</body>

</template>