<template name="menu">
    <h3>Menu</h3>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{pathFor route='home'}}">Accueil</a></li>
    </ul>
    {{#if currentUser}}
        {{#if isInRole 'User'}}
            <h3>Mon compte</h3>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{pathFor route='userHome'}}">Accueil Espace Membre</a></li>
                <li><a href="{{pathFor route='missions'}}">Missions</a></li>
            </ul>
        {{/if}}
    {{/if}}
</template>